<!DOCTYPE html>
<html lang="ja">
    <!-- head -->
    <%- include("layouts/head") %>
    <style>
        .none {
            display: none;
        }
        .likes {
            fill: black;
        }
    </style>

    <body>
        <div class="flex flex-col h-screen">
            <!-- navbar -->
            <%- include("layouts/navbar") %>

            <div class="bg-gray-100 flex-auto">
                <div class="flex justify-center mt-20">
                    <div class="w-9/12 border bg-white">
                        <div class="my-16 text-center">
                            <% for(let i = 0; i < contents.length; i ++) { %>
                            <div class="text-gray-700 body-font overflow-hidden">
                                <div class="container px-5 py-3 mx-auto">
                                    <div class="flex flex-wrap -m-12">
                                        <div class="p-12 md:w-1/2 flex flex-col items-start">
                                            <h2
                                                class="sm:text-3xl text-2xl title-font font-medium text-gray-900 mt-4 mb-4"
                                            >
                                                <%= contents[i].title %>
                                            </h2>
                                            <p class="leading-relaxed mb-5">
                                                <%= contents[i].content %>
                                            </p>
                                            <div
                                                class="flex flex-col pb-4 mb-4 border-b-2 border-gray-200 mt-auto w-full"
                                            >
                                                <% if(contents[i].username === username) { %>
                                                <a
                                                    class="text-indigo-500 inline-flex items-center mb-3"
                                                    href="/edit/<%= contents[i].id %>"
                                                    >編集する
                                                </a>
                                                <% } %>
                                                <form
                                                    class="inline-flex btn"
                                                    action="/likes"
                                                    method="POST"
                                                >
                                                    <button
                                                        class="text-black inline-flex items-center leading-none text-sm"
                                                        type="submit"
                                                    >
                                                        <svg
                                                            xmlns="http://www.w3.org/2000/svg"
                                                            width="18px"
                                                            height="18px"
                                                            stroke="currentColor"
                                                            stroke-width="2"
                                                            fill="none"
                                                            stroke-linecap="round"
                                                            stroke-linejoin="round"
                                                            viewBox="0 0 24 24"
                                                            class="mr-1"
                                                        >
                                                            <path
                                                                stroke-linecap="round"
                                                                stroke-linejoin="round"
                                                                stroke-width="2"
                                                                d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
                                                            />
                                                        </svg>
                                                        <%= contents[i].like %>
                                                    </button>
                                                </form>
                                            </div>
                                            <a class="inline-flex items-center">
                                                <img
                                                    alt="blog"
                                                    src="https://dummyimage.com/104x104"
                                                    class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center"
                                                />
                                                <span class="flex-grow flex flex-col pl-4">
                                                    <span
                                                        class="title-font font-medium text-gray-900"
                                                        ><%= contents[i].username %></span
                                                    >
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            const btn = document.querySelectorAll('.btn');

            btn.forEach((btn) => {
                btn.addEventListener('click', () => {
                    //色付け
                    const btnSpanSvg = document.querySelectorAll('.btn > span > svg');
                    for (let i = 0; i < btnSpanSvg.length; i++) {
                        btnSpanSvg[i].addEventListener('click', () => {
                            btnSpanSvg[i].classList.toggle('likes');
                            if (btnSpanSvg[i].classList.contains('likes')) {
                                //DB増加する
                            } else {
                                //DB減少する
                            }
                        });
                    }
                });
            });
        </script>
    </body>
</html>
